<h1>The Word Counter</h1>
<form action="word_count">
  <div class="form-group">
    <label for="word_count">Enter in a sentence and in return you'll receive the number of times that word appears</label>
    <input id="sentence" name="sentence" class="form-control" type="text" placeholder="Enter in your sentence here">
    <br>
    <input id="word" name="word" class="form-control" type="text" placeholder="Enter in the word you want to count">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
