<h1>The Word Counter</h1>
<form action="word_count">
  <div class="form-group">
    <label for="word_count">This handy device will count the amount of times a given word appears in a sentence you provide.
      <br>
      Feel free to enter in your sentence in the first box and then enter the word you would like to count in the second box.
      <br>
      <br>
      Hit send and then voila! Your count will be shown.</label>
      <br>
      <br>
    <input id="sentence" name="sentence" class="form-control" type="text" placeholder="Enter your sentence here.">
    <br>
    <input id="word" name="word" class="form-control" type="text" placeholder="Enter the word you would like to count here.">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
