<h1><font color ="##006600">The Word Counter</font> :: <font color="#FF9900">Results</font></h1>
<h3>Your word has appeared <font color="#FF9900"><%= @word_count %></font> times.</h3>
<br>
<br>
Thank you for using <font color ="##006600">The Word Counter</font>.
<br>
Go back, refresh the page and feel free to enter in another sentence.
